#webstrumUploadPhoto{
	transition: 0.3s;
	cursor: pointer; 
	border: 1px solid red; 
	background-color: #ccc; 
	height: 90px;
}
#webstrumUploadPhoto:hover{
	background-color: #aaa;
}
.webstrumPhotoCol{
	height: 90px; 
	background-color: black;
}
.webstrumPhotoCol > img{
	object-fit: cover;
	width: 100% !important;
	height: 100% !important;
}
.webstrumPhotosRow{
	border: 1px solid black; 
	height: 120px; 
	overflow: auto;
}